<section id="services" class="services section">

      <div class="container">

        <div class="row gy-4">

          {% for services in sailorservices %}
            {% include "@molecules/serviceitem/serviceitem.twig" with {
                serviceitemicon: services.serviceitemicon,
                h4text: services.h4text,
                paragraph: services.paragraph,
                para_modifier_class: services.para_modifier_class
            } %}

          {% endfor %}

        </div>

      </div>

    </section>