<div class="col-lg-3 col-md-6">
    <div class="stats-item text-center w-100 h-100">
        <span data-purecounter-start="0" data-purecounter-end="{{end}}" data-purecounter-duration="0" class="purecounter">{{statsnum}}</span>
        {% include "@atoms/para/para.twig" with {
            p_content: p_content
        } %}
    </div>
</div>