{# <a href="#" class="navbar-brand p-0">
    <h1 class="text-primary mb-0"><i class="fab fa-slack me-2"></i> LifeSure</h1>
</a> #}

<a href="index.html" class="logo d-flex align-items-center me-auto">
    <img src="	https://bootstrapmade.com/demo/templates/TheEvent/assets/img/logo.png" alt="">
        <!-- Uncomment the line below if you also wish to use an text logo -->
        <!-- <h1 class="sitename">TheEvent</h1>  -->
</a>