<div class="container-fluid venue-gallery-container aos-init aos-animate" data-aos="fade-up" data-aos-delay="100">
    <div class="row g-0">
        <div class="col-lg-3 col-md-4">
            <div class="venue-gallery">
                {% for image in images %}
                    <a href="{{ image.href }}" class="glightbox" data-gall="venue-gallery">
                        <img src="{{ image.src }}" class="img-fluid">
                    </a>
                {% endfor %}
            </div>
        </div>
    </div>
</div>






          {# <a href={{href}} class="glightbox" data-gall="venue-gallery">
                <img src={{src}} alt="" class="img-fluid"> #}