<div class="container section-title aos-init aos-animate wow animate__animated animate__fadeInUp" data-aos="fade-up">
        <h2>{{section_title}}<br></h2>
        <p>Necessitatibus eius consequatur ex aliquid fuga eum quidem sint consectetur velit</p>
      </div>