<div>
  {% include "@atoms/para/para.twig" with { p_content: p_text, p__additional_classes: p__additional_classes } %}
  {% include "@atoms/btn/btn.twig" with { 
    btn__modifier_classes: "btn--getstarted",
    btncontent: "get started",
    } %}
</div>