<div class="text-center mx-auto pb-5 wow fadeInUp" data-wow-delay="0.2s" style="max-width: 800px; visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">
    <h4 class="text-primary">Our Features</h4>
    <h1 class="display-4 mb-4">Insurance Provide you a Better Future</h1>
    {% include "@atoms/para/para.twig" with {
        p_content: p_content,
        
    } %}
</div>