.progress {
    height: 60px !important;
    display: block !important;
    background: none !important;
    border-radius: 0 !important;
}

.progress .skill {
    color: #556270;
    padding: 0;
    margin: 0 0 6px 0;
    text-transform: uppercase;
    display: block;
    font-weight: 600;
    font-family: "Raleway", sans-serif;
}

.progress .skill .val {
    float: right;
    font-style: normal;
}

.skills .progress-bar-wrap {
    background: color-mix(in srgb, #444444, transparent 90%);
    height: 10px;
}

.progress-bar {
    // width: 1px;
    height: 10px;
    transition: 0.9s !important;
    background-color: #d9232d !important;
}