

            <div class="progress">
              <span class="skill"><span>{{spancontent}}</span> <i class="val">{{ival}}</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="{{valuenow}}" aria-valuemin="0" aria-valuemax="100" style="width: {{width}};"></div>
              </div>
            </div><!-- End Skills Item -->
  