<div class={{card_container}}>
    {% include "@atoms/logo/logo.twig" with {logo_name: heading_content, button__additional_classes: button__additional_classes}%}
    {% include "@atoms/para/para.twig" with {p_content: p_text, para__additional_classes: para__additional_classes}%}
</div>