<div class="main">
    {% include "@organisms/header/header.twig" with headerData %}
    {% include "@organisms/hero/hero.twig" with heroData %}
    {% include "@organisms/speakers/speakers.twig" with speakersData %}
    {% include "@organisms/schedule/schedule.twig" with scheduleData %}
    {% include "@organisms/venue/venue.twig" with venueData %}
    {% include "@organisms/hotels/hotels.twig" with hotelsData %}
    {% include "@organisms/gallery/gallery.twig" with galleryData %}
    {% include "@organisms/sponsors/sponsors.twig" with sponsorsData %}
    {% include "@organisms/tickets/tickets.twig" with ticketsData %}
    {% include "@organisms/sponsors/sponsors.twig" with sponsorsData %}
    {% include "@organisms/contact/contact.twig" with contactData %}
</div>