{# <ul class="portfolio-filters isotope-filters aos-init aos-animate" data-aos="fade-up" data-aos-delay="100">
    <li data-filter="*" class="filter-active">All</li>
    <li data-filter=".filter-app" class="">App</li>
    <li data-filter=".filter-product" class="">Card</li>
    <li data-filter=".filter-branding" class="">Web</li>
</ul> #}