<div class="container section-title" data-aos="fade-up">
    {# <h2>About</h2> #}
    {% include "@atoms/heading/heading.twig" with {
        heading_level: heading_level,
        heading: heading
    } %}
        {# <p>About Us<br></p> #}

    {% include "@atoms/para/para.twig" with {
        p_content: p_content
    } %}
        
</div>