<div class="post-item">
                <img src="{{imgsrc}}" alt="" class="flex-shrink-0">
                <div>
                  <h4><a href="{{ahref}}">{{h4content}}</a></h4>
                  <time datetime="2020-01-01">{{date}}</time>
                </div>
</div>