<div class="services_container">
    {% include "@molecules/mycard/mycard.twig" with {heading_content: heading_content, button__additional_classes: button__additional_classes, p_text: p_text, p__additional_classes: p__additional_classes, card_container: card_container}%}
    {% include "@molecules/mycard/mycard.twig" with {heading_content: heading_content, button__additional_classes: button__additional_classes, p_text: p_text, p__additional_classes: p__additional_classes, card_container: card_container}%}
    {% include "@molecules/mycard/mycard.twig" with {heading_content: heading_content, button__additional_classes: button__additional_classes, p_text: p_text, p__additional_classes: p__additional_classes, card_container: card_container}%}
    {% include "@molecules/mycard/mycard.twig" with {heading_content: heading_content, button__additional_classes: button__additional_classes, p_text: p_text, p__additional_classes: p__additional_classes, card_container: card_container}%}
    {% include "@molecules/mycard/mycard.twig" with {heading_content: heading_content, button__additional_classes: button__additional_classes, p_text: p_text, p__additional_classes: p__additional_classes, card_container: card_container}%}
</div>