<section id="about" class="about section">

  {% include "@molecules/sectionheading/sectionheading.twig" with {
    heading_level: heading_level,
    heading: heading,
    p_content: p_content
  } %}

  <div class="container">

    <div class="row gy-4">

      <div class="col-lg-6 content" data-aos="fade-up" data-aos-delay="100">
        {% include "@molecules/aboutus1/aboutus1.twig" with {
          p_content: pcontent
        } %}
      </div>

      <div class="col-lg-6" data-aos="fade-up" data-aos-delay="200">
        {% include "@molecules/aboutus2/aboutus2.twig" %}
      </div>

    </div>

  </div>

</section>