<section id="hero" class="hero section dark-background wow animate__animated animate__fadeInUp">
    <div class="container d-flex flex-column align-items-center text-center mt-auto">
        <h2 data-aos="fade-up" data-aos-delay="100" class="aos-init aos-animate">THE ANNUAL<br><span>MARKETING</span> CONFERENCE</h2>
        <p data-aos="fade-up" data-aos-delay="200" class="aos-init aos-animate">10-12 December, Downtown Conference Center, New York</p>
        <div data-aos="fade-up" data-aos-delay="300" class="aos-init aos-animate">
          <a href="https://www.youtube.com/watch?v=LXb3EKWsInQ" class="glightbox pulsating-play-btn mt-3"></a>
        </div>
    </div>

      {% include "@molecules/aboutevent/aboutevent.twig" %}
</section>