<div class="row gy-4 pricing-item featured mt-4 aos-init aos-animate wow animate__animated animate__fadeInUp" data-aos="fade-up" data-aos-delay="200">
          <div class="col-lg-3 d-flex align-items-center justify-content-center">
            <h3>Premium Access<br></h3>
          </div>
          <div class="col-lg-3 d-flex align-items-center justify-content-center">
            <h4><sup>$</sup>250<span> / month</span></h4>
          </div>
          <div class="col-lg-3 d-flex align-items-center justify-content-center">
            <ul>
              <li><i class="fa-solid fa-check"></i> <span>Quam adipiscing vitae proin</span></li>
              <li><i class="fa-solid fa-check"></i> <strong>Nec feugiat nisl pretium</strong></li>
              <li><i class="fa-solid fa-check"></i> <span>Nulla at volutpat diam uteera</span></li>
            </ul>
          </div>
          <div class="col-lg-3 d-flex align-items-center justify-content-center">
            <div class="text-center"><a href="#" class="buy-btn">Buy Now</a></div>
          </div>
        </div><!-- End Pricing Item -->