// .pricing-item {
//     background-color: #f82249;
// }

.featured h3, .featured h4, .featured h4 span,  .featured ul,  .featured ul .na,  .featured ul i,  .featured ul .na i {
    color: #ffffff;
}

.buy-tickets .pricing-item {
    h3 {
        font-weight: 700;
        margin-bottom: 0;
        font-size: 24px;
        font-family: "Raleway", sans-serif;
    }

    h4 {
        font-size: 48px;
        // color: var(--accent-color);
        font-weight: 400;
        font-family: "Raleway", sans-serif;
        margin-bottom: 25px;
        text-align: center;

        sup {
            font-size: 28px;
        }
    }

    ul {
        padding: 20px 0;
        list-style: none;
        // color: color-mix(in srgb, var(--default-color), transparent 40%);
        text-align: left;
        line-height: 20px;
        margin-top: 0;
        margin-bottom: 1rem;

        li {
            padding-top: 15px;
            display: flex;
            align-items: center;
        }

        i {
            // color: #059652;
            font-size: 24px;
            padding-right: 3px;
        }
    }
}

.buy-btn {
    background: #f82249;
    color: #ffffff;
    border-color: #ffffff;

    border: 2px solid #f82249;
    display: inline-block;
    padding: 12px 40px;
    border-radius: 4px;
    // transition: none;
    font-size: 16px;
    font-weight: 500;
    transition: 0.3s;
    font-family: "Raleway", sans-serif;
}