<li class="nav-item" role="presentation">
    <a class="nav-link {% if isactive %}active show{% endif %}" data-bs-toggle="tab" href="#features-{{lihref}}" aria-selected="{{areaselected}}" role="tab">{{licontent}}</a>
</li>
