<section id="team" class="team section">

      <div class="container">

        <div class="row gy-4">


          {% for data in teamsdata %}
            {% include "@molecules/teammember/teammember.twig" with {
                img_src: data.img_src,
                heading_level: data.heading_level,
                heading: data.heading,
                spancontent: data.spancontent,
                p_content: data.p_content,
                socialicon1: data.socialicon1,
                socialicon2: data.socialicon2,
                socialicon3: data.socialicon3,
                socialicon4: data.socialicon4
            } %}
          {% endfor %}

        </div>

      </div>

    </section>