{# 
<header id="header" class="header d-flex align-items-center fixed-top">
    <div class="container-fluid container-xl position-relative d-flex align-items-center">

      <a href="index.html" class="logo d-flex align-items-center me-auto">
        <img src="https://bootstrapmade.com/demo/templates/TheEvent/assets/img/logo.png" alt="">
      </a>

      <nav id="navmenu" class="navmenu">
        <ul>
          <li><a href="#hero" class="active">Home<br></a></li>
          <li><a href="#speakers" class="">Speakers</a></li>
          <li><a href="#schedule">Schedule</a></li>
          <li><a href="#venue">Venue</a></li>
          <li><a href="#hotels">Hotels</a></li>
          <li><a href="#gallery">Gallery</a></li>
          <li><a href="#dropdown">Dropdown</a></li>
          <li><a href="#contact">Contact</a></li>
        </ul>
        <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
      </nav>

      <a class="cta-btn d-none d-sm-block" href="#buy-tickets">BuyTickets</a>

    </div>
  </header>



 #}



<header id="header" class="header d-flex align-items-center fixed-top">
  <div class="container-fluid container-xl position-relative d-flex align-items-center">

    <a href="index.html" class="logo d-flex align-items-center me-auto">
      <img src="https://bootstrapmade.com/demo/templates/TheEvent/assets/img/logo.png" alt="">
    </a>

    <nav id="navmenu" class="navmenu d-none d-xl-flex">
      <ul>
        <li><a href="#hero" class="active">Home<br></a></li>
        <li><a href="#speakers" class="nav-link">Speakers</a></li>
        <li><a href="#schedule" class="nav-link">Schedule</a></li>
        <li><a href="#venue" class="nav-link">Venue</a></li>
        <li><a href="#hotels" class="nav-link">Hotels</a></li>
        <li><a href="#gallery" class="nav-link">Gallery</a></li>
        <li><a href="#dropdown" class="nav-link">Dropdown</a></li>
        <li><a href="#contact"class="nav-link">Contact</a></li>
      </ul>
    </nav>

    <a class="cta-btn d-none d-sm-block" href="#buy-tickets">BuyTickets</a>

    <button class="mobile-nav-toggle d-xl-none fa-solid fa-list" type="button" data-bs-toggle="collapse" data-bs-target="#mobileNav" aria-controls="mobileNav" aria-expanded="false" aria-label="Toggle navigation"></button>

    <div class="collapse d-xl-none" id="mobileNav">
      <nav id="navmenu" class="navmenu">
        <ul>
          <li><a href="#hero" class="active">Home<br></a></li>
          <li><a href="#speakers" class="">Speakers</a></li>
          <li><a href="#schedule">Schedule</a></li>
          <li><a href="#venue">Venue</a></li>
          <li><a href="#hotels">Hotels</a></li>
          <li><a href="#gallery">Gallery</a></li>
          <li><a href="#dropdown">Dropdown</a></li>
          <li><a href="#contact">Contact</a></li>
        </ul>
      </nav>
    </div>

  </div>
</header>
