.portfolio-details-slider img {
    width: 100%;
}

.slick-dots {
    li {
        margin: 0 5px; /* Adjust spacing between dashes */
    }
    
    li button::before {
        // content: ""; /* Replace the dot with a dash */
        font-size: 12px; /* Set the length of the dash */
        color: gray; /* Default color for inactive dashes */
        line-height: 1; /* Adjust line-height to control vertical alignment */
        display: inline-block; /* Ensure it behaves like a block element for height adjustments */
        // transform: scaleY(5); /* Scale vertically to increase height (adjust this value as needed) */
    }

    /* Active state styling */
    li.slick-active button::before {
        color: #d9232d; /* Active dash color */
    }
}

.portfolio-details .portfolio-info {
    background-color: #ffffff;
    padding: 30px;
    box-shadow: 0px 0 30px rgba(0, 0, 0, 0.1);
}

.portfolio-description {
    margin-top: 30px;
}

.portfolio-details .portfolio-info h3 {
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid color-mix(in srgb, #444444, transparent 85%);
    color: #556270;
    font-family: "Raleway", sans-serif;
}

.portfolio-details .portfolio-info ul {
    list-style: none;
    padding: 0;
    font-size: 15px;
}

.portfolio-details .portfolio-info ul li+li {
    margin-top: 10px;
}

.portfolio-details .portfolio-description h2 {
    font-size: 26px;
    font-weight: 700;
    margin-bottom: 20px;
    color: #556270;
    font-family: "Raleway", sans-serif;
}

.portfolio-details .portfolio-description p {
    padding: 0;
    color: color-mix(in srgb, #444444, transparent 30%);
}