.pricing-item {
    background-color: #ffffff;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
}

.pricing-item h3 {
    // font-weight: 400;
    margin: -20px -20px 20px -20px;
    padding: 20px 15px;
    font-size: 16px;
    font-weight: 600;
    color: color-mix(in srgb, #444444, transparent 20%);
    background: color-mix(in srgb, #444444, transparent 95%);
    font-family: "Raleway", sans-serif;
}

.featured h3 {
    background: #d9232d;
    color: #ffffff;
}

.advanced {
    background: #d9232d;
    color: #ffffff;
    width: 200px;
    position: absolute;
    top: 18px;
    right: -68px;
    transform: rotate(45deg);
    z-index: 1;
    font-size: 14px;
    padding: 1px 0 3px 0;
}

.pricing-item h4 {
    font-size: 36px;
    font-weight: 600;
    font-family: "Raleway", sans-serif;
    color: #556270;
}

.pricing-item h4 sup {
    font-size: 20px;
    top: -15px;
    left: -3px;
}

.pricing-item h4 span {
    color: color-mix(in srgb, #444444, transparent 40%);
    font-size: 16px;
    font-weight: 300;
}

.pricing-item ul {
    padding: 15px 0;
    list-style: none;
    text-align: center;
    line-height: 20px;
    font-size: 14px;
}

.pricing-item ul li {
    padding-bottom: 16px;
}

.pricing-item ul .na {
    color: color-mix(in srgb, #444444, transparent 40%);
    text-decoration: line-through;
}

.btn-wrap {
    background: color-mix(in srgb, #444444, transparent 95%);
    margin: 0 -20px -20px -20px;
    padding: 20px 15px;
    text-align: center;
}