<div class="col-xl-3 col-lg-3" data-aos="fade-up" data-aos-delay="100">

    <div class="pricing-item {% if isfeatured %}featured{% endif %}">
        {# <span class="advanced">Advanced</span> #}

        {% if showadvanced %}
            <span class="advanced">Advanced</span>
        {% endif %}

        {# <h3>Free</h3> #}
        {% include "@atoms/heading/heading.twig" with {
            heading_level: heading_level,
            heading: heading
        } %}

        <h4><sup>$</sup>{{h4content}}<span> / month</span></h4>

        <ul>
            <li {% if isna1 %}class="na"{% endif %}>Aida dere</li>
            <li {% if isna2 %}class="na"{% endif %}>Nec feugiat nisl</li>
            <li {% if isna3 %}class="na"{% endif %}>Nulla at volutpat dola</li>
            <li {% if isna4 %}class="na"{% endif %}>Pharetra massa</li>
            <li {% if isna5 %}class="na"{% endif %}>Massa ultricies mi</li>
        </ul>

        <div class="btn-wrap">
            {# <a href="#" class="btn-buy">Buy Now</a> #}
            {% include "@atoms/btn/btn.twig" with {
                btncontent: btncontent,
                a_href: a_href,
                modifier_class: btn__modifier_classes
            } %}
        </div>
    </div>
</div>