<section id="about-2" class="about-2 section">

      <div class="container" data-aos="fade-up">

        <div class="row g-4 g-lg-5" data-aos="fade-up" data-aos-delay="200">

          <div class="col-lg-5">
            <div class="about-img">
              {# <img src="assets/img/about-portrait.jpg" class="img-fluid" alt=""> #}
              {% include "@atoms/img/img.twig" with {
                img_src: img_src
              } %}
            </div>
          </div>

          <div class="col-lg-7">
            <h3 class="pt-0 pt-lg-5">{{h3item}}</h3>

            <!-- Tabs -->
            <ul class="nav nav-pills mb-3" role="tablist">
              <li><a class="nav-link active" data-bs-toggle="pill" href="#about-2-tab1" aria-selected="true" role="tab">Saepe fuga</a></li>
              <li><a class="nav-link" data-bs-toggle="pill" href="#about-2-tab2" aria-selected="false" role="tab" tabindex="-1">Voluptates</a></li>
              <li><a class="nav-link" data-bs-toggle="pill" href="#about-2-tab3" aria-selected="false" role="tab" tabindex="-1">Corrupti</a></li>
            </ul><!-- End Tabs -->

            {# {% include "@molecules/about2tab/about2tab.twig" %} #}

            <!-- Tab Content -->
            <div class="tab-content">

                {% for data in tabsdata %}

                    {% include "@molecules/tabcontent/tabcontent.twig" with {
                        isactiveshow: data.isactiveshow,
                        tabid: data.tabid,
                        pcontent: data.pcontent,
                        icon1: data.icon1,
                        heading1: data.heading1,
                        heading_level1: data.heading_level1,
                        ptext1: data.ptext1,
                        icon2: data.icon2,
                        heading2: data.heading2,
                        heading_level2: data.heading_level2,
                        ptext2: data.ptext2,
                        icon3: data.icon3,
                        heading3: data.heading3,
                        heading_level3: data.heading_level3,
                        ptext3: data.ptext3
                    } %}

                {% endfor %}

            </div>

          </div>

        </div>

      </div>

    </section>