
              <div class="tab-pane {% if isactive %}active show{% endif %}" id="features-{{tabid}}" role="tabpanel">
                <div class="row">
                  <div class="col-lg-8 details order-2 order-lg-1">
                    {# <h3>Architecto ut aperiam autem id</h3> #}
                    {% include "@atoms/heading/heading.twig" with {
                        heading_level: '3',
                        heading: heading
                    } %}
                    <p class="fst-italic">{{ptext}}</p>
                    {# <p>Et nobis maiores eius. Voluptatibus ut enim blanditiis atque harum sint. Laborum eos ipsum ipsa odit magni. Incidunt hic ut molestiae aut qui. Est repellat minima eveniet eius et quis magni nihil. Consequatur dolorem quaerat quos qui similique accusamus nostrum rem vero</p> #}
                    {% include "@atoms/para/para.twig" with {
                        p_content: p_content
                    } %}
                  </div>
                  <div class="col-lg-4 text-center order-1 order-lg-2">
                    {# <img src="assets/img/tabs/tab-1.png" alt="" class="img-fluid"> #}
                    {% include "@atoms/img/img.twig" with {
                        img_src: img_src
                    } %}
                  </div>
                </div>
              </div>

                          