
    <div class="info-item d-flex" data-aos="fade-up" data-aos-delay="300">
        <i class="{{icon}} flex-shrink-0"></i>
    
        <div>

            {# <h3>Address</h3> #}
            {% include "@atoms/heading/heading.twig" with {
                heading_level: heading_level,
                heading: heading
            } %}

            {# <p>A108 Adam Street, New York, NY 535022</p> #}
            {% include "@atoms/para/para.twig" with {
                p_content: p_content
            } %}

        </div>
    </div>