.client-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.client-logo img {
    padding: 20px 40px;
    max-width: 90%;
    transition: 0.3s;
    opacity: 0.5;
    filter: grayscale(100);
}

.client-logo img:hover {
    filter: none;
    opacity: 1;
}

.img-fluid {
    // max-width: 100%;
    height: auto;
}