<ul class="nav nav-pills mb-3" role="tablist">
    <li><a class="nav-link active" data-bs-toggle="pill" href="#about-2-tab1" aria-selected="true" role="tab">Saepe fuga</a></li>
    <li><a class="nav-link" data-bs-toggle="pill" href="#about-2-tab2" aria-selected="false" role="tab" tabindex="-1">Voluptates</a></li>
    <li><a class="nav-link" data-bs-toggle="pill" href="#about-2-tab3" aria-selected="false" role="tab" tabindex="-1">Corrupti</a></li>
</ul>