<div class={{container_class}}>
  {% include "@atoms/listitem/listitem.twig" with { href_url: href_url, li_content: li_content1, li__additional_classes: li__additional_classes } %}
  {% include "@atoms/listitem/listitem.twig" with { href_url: href_url, li_content: li_content2, li__additional_classes: li__additional_classes } %}
  {% include "@atoms/listitem/listitem.twig" with { href_url: href_url, li_content: li_content3, li__additional_classes: li__additional_classes } %}
  {% include "@atoms/listitem/listitem.twig" with { href_url: href_url, li_content: li_content4, li__additional_classes: li__additional_classes } %}
  {% include "@atoms/listitem/listitem.twig" with { href_url: href_url, li_content: li_content5, li__additional_classes: li__additional_classes } %}
  {% include "@atoms/listitem/listitem.twig" with { href_url: href_url, li_content: li_content6, li__additional_classes: li__additional_classes } %}
  {% include "@atoms/listitem/listitem.twig" with { href_url: href_url, li_content: li_content7, li__additional_classes: li__additional_classes } %}
  {% include "@atoms/listitem/listitem.twig" with { href_url: href_url, li_content: li_content8, li__additional_classes: li__additional_classes } %}
</div>