{{ attach_library('Emulsify/global') }}

<section id="portfolio" class="portfolio section">

      {% include "@molecules/sectionheading/sectionheading.twig" with {
        heading_level: 2,
        heading: heading,
        p_content: p_content
      } %}

      <div class="container">

        <div class="isotope-layout" data-default-filter="*" data-layout="masonry" data-sort="original-order">

          {# {% include "@molecules/portfoliofilters/portfoliofilters.twig" %} #}
          <ul class="portfolio-filters isotope-filters aos-init aos-animate" data-aos="fade-up" data-aos-delay="100">
    <li data-filter="*" class="filter-active">All</li>
    <li data-filter=".filter-app" class="">App</li>
    <li data-filter=".filter-product" class="">Card</li>
    <li data-filter=".filter-branding" class="">Web</li>
</ul>

          <div class="row gy-4 isotope-container" data-aos="fade-up" data-aos-delay="200" style="position: relative; height: 1249.11px;">

            {% for data in portfoliodata %}

                {% include "@molecules/portfolioitem/portfolioitem.twig" with {
                    img_src: data.img_src,
                    h4content: data.h4content,
                    pcontent: data.pcontent,
                    ahref: data.ahref,
                    atitle: data.atitle,
                    filtername: data.filtername,
                    left: data.left,
                    top: data.top,
                    fancyboxdata: data.fancyboxdata
                } %}

            {% endfor %}

          </div>

        </div>

      </div>

    </section>