<section id="testimonials" class="testimonials section">

      <div class="container">

        <div class="row gy-4">

            {% for data in testimonialsdata %}

                {% include "@molecules/testimonialitem/testimonialitem.twig" with {
                    img_src: data.img_src,
                    heading_level1: data.heading_level1,
                    heading1: data.heading1,
                    heading_level2: data.heading_level2,
                    heading2: data.heading2,
                    spancontent: data.spancontent,
                    icon1: data.icon1,
                    icon2: data.icon2,
                    icon3: data.icon3,
                    icon4: data.icon4,
                    icon5: data.icon5,
                    icon6: data.icon6,
                    icon7: data.icon7,
                 } %}

            {% endfor %}


        </div>

      </div>

    </section>