<div class={{banner_class}}>
  {% include "@atoms/logo/logo.twig" with { logo_name: h1_content } %}
  {% include "@atoms/para/para.twig" with { p_content: p_content, p__additional_classes: p__additional_classes } %}
  {% include "@atoms/btn/btn.twig" with { btncontent: btncontent, btn__additional_classes: btn__additional_classes } %}
</div>
